*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.SingIn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* camada de fundo */
.SingIn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/pietro-de-grandi-T7K4aEPoGGk-unsplash2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  transform: scale(1.05); 
  z-index: 0;
}

/* conteúdo por cima */
.SingIn > * {
  position: relative;
  z-index: 1;
}
